
@model BlueMine.Models.Project.ProjectRecursor

@if (Model.Level < 30000)
{

<ul style="border-left: 3px solid #e0e0e0;">
    <li>
        <label>Level </label><span>@Model.Level</span>
        @Html.DisplayFor(tree => tree.Me)
    </li>
    @if (true)
    {
        @Html.DisplayFor(tree => tree.ChildNodes)
    }

</ul>

}
