@model BlueMine.Redmine.projects

    <div id="display-@Model.Id" >
        
        <a href="/projects/pid/items">
            <div style="border-bottom: 1px solid #CCC;">
                <span>@Model.Id</span>
                <h1 id="title-@Model.Identifier">@Model.Name</h1>
                <div style="clear: both;"></div>  
                <span style="height: 0.25cm;">@Model.Description</span>
            </div>
        </a>
    
    </div>
