@model BlueMine.Db.T_projects


<div id="display-@Model.id" >
    @if (true)
    {
        <div style="border-bottom: 1px solid #CCC;">
            <h1 id="title-@Model.identifier" >@Model.name</h1>
        </div>
        
        <div style="height: 0.25cm;">@Model.description</div>
        <div style="clear: both;"></div>        
    }
</div>

